.header
  .header__logo
    = image_tag('invest_times_logo.jpg' , class:"headr-logo")

  .header__title invent times
  .header__line
    .header__line__type1
    .header__line__type2
    .header__line__type3
    .header__line__type4
    .header__line__type5
    .header__line__type6
    .header__line__type7
    .header__line__type8
    .header__line__type9
  .header__user-info
  
    %ul.header__user-info__ul
      %li.header__user-info__ul__li1
      %li.header__user-info__ul__li2
      %li.header__user-info__ul__li3
      %li.header__user-info__ul__li4