.main
  .main__flame
    .main__flame__word
      %h2.main__flame__word__h2 投資時間を入力してください
      %p.main__flame__word__p 時間と興味に応じた自己投資を提案します
    .main__flame__form
      = form_for("") do |f|
        = f.text_field :value , class:"main__flame__form__input" , placeholder:"        (例)1000 max10000",maxlength:"5"
        = f.label :value , "分" , class:"main__flame__form__text"
        = f.submit "時間確定" , class:"main__flame__form__btn"