.footer{
  width:1000px;
  height:250px;
  border:solid;
  border-width: 1px;
  display:flex;
  color:grey;
  border-radius: 10px;
  margin:auto;
  &__image{
  width:50%;
  height:250px;
  z-index: 1;
 }
}
