.header{
  height:100px;
  width:1000px;
  display:flex;
  border:solid;
  color:grey;
  border-radius: 10px;
  &__logo{
    height:100px;
    width:20%;
  }
  &__title{
    height:100px;
    width:25%;
    line-height: 100px;
    text-align: center;
    text-shadow: 1px 2px 3px #808080;
    font-size:35px;
    background-color: #FFEEFF;
}
&__line{
  height:100px;
  width:60%;
  &__type1{
    width:10%;
    height:10px;
    background-color:red;
  }
  &__type2{
    width:20%;
    height:10px;
    background-color:pink;
  }
  &__type3{
    width:65%;
    height:10px;
    background-color:palevioletred;
  }
  &__type4{
    width:85%;
    height:10px;
    background-color:yellow;
  }
  &__type5{
    width:75%;
    height:10px;
    background-color:bisque;
  }
  &__type6{
    width:100%;
    height:10px;
    background-color:lightblue;
  }
  &__type7{
    width:65%;
    height:10px;
    background-color:lightgreen;
  }
  &__type8{
    width:50%;
    height:10px;
  }
  &__type9{
    width:65%;
    height:10px;
    background-color:grey;
  }

}
&__user-info{
  height:100px;
  width:10%;
  display:block;
  background-color:lightgray;
  &__ul{//ユーザー編集アイコンを押すと表示
    display:block;
    display:none;
    &__li{
    height:50px;
    text-align: left;
    font-size:10px;
    line-height:50px;
    background-color: beige;
    text-align: center;
      &__link{
        text-decoration: none;
        color:black;
      }
    }
    }
  }
}

.headr-logo{
  height:100%;
  width:100%;
}

.fa-5x{
  display:block;
  color:black;
  height:95%;
  width:100%;
  padding-left:10px;
  padding-top:10px;

}
